/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  word-wrap: break-word;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: arial, sans-serif;
  line-height: 1.3;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
}

.interface {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(2, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}
.interface__inner {
  max-width: 768px;
}
.interface__texts {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interface.color_reverse .interface__texts {
  color: #000;
}
.interface__texts-main {
  font-size: 48px;
  font-weight: bold;
}
.interface__texts-sub {
  font-size: 22px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid;
}
.interface__setting {
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.interface__btns,
.interface__setting {
  display: flex;
  width: 100%;
  margin: 16px auto 0;
}
.interface__btns {
  gap: 10px;
  width: 380px;
  margin-top: 30px;
}
.interface__btn {
  flex: 1;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.interface__setting-main,
.interface__setting-sub {
  width: calc(50% - 10px);
  box-sizing: border-box;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.interface__btn,
.interface__btn-reset {
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}
.interface__close,
.interface__btn-reset {
  background: #ccc;
}
.interface__close:hover,
.interface__btn-reset:hover {
  background: #666;
  color: #fff;
}
.interface__setting-inputs {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.interface__line {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.interface__label {
  color: #fff;
  font-size: 18px;
}
.interface__range {
  width: 65%;
  position: relative;
  margin-right: 10px;
}
.interface__back {
  background: #e7e7f5;
  position: relative;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.interface__front {
  background: orange;
  width: 30%;
  height: 100%;
}
.interface__range-circle {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #fff;
}
.interface__range.dimmed::after {
  content: "";
  background: transparent;
  position: fixed;
  inset: 0;
  z-index: 1;
}
.interface__reverse {
  width: 65%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.interface__rdo-reverse + .interface__rdo-label {
  flex: 1;
  background: #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 12px 10px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}
.interface__rdo-reverse + .interface__rdo-label:hover {
  color: #fff;
  background: #666;
}
.interface__rdo-reverse:checked + .interface__rdo-label {
  color: #fff;
  background: orange;
}
.sr_only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}
.interface__setting-reset {
  flex: 0 0 50px;
  display: flex;
}
.interface__btn-reset {
  width: 100%;
  border-radius: 5px;
  border: none;
}
.interface__download {
  background: #fdc000;
}
.interface__download:hover {
  background: #f86a05;
  color: #fff;
}
.interface__preview {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.interface__preview::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.interface__preview.skeleton::before {
  background: #fdc000;
}
.interface__preview-glass {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 56.25%;
  background: #000;
  opacity: 0;
}
.interface__preview.skeleton .interface__preview-glass {
  background: #fdc000;
}
.interface.color_reverse .interface__preview-glass {
  background: #fff;
}
.interface__preview.skeleton::after {
  z-index: 2;
}
.interface__preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skeleton {
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0),
    rgba(243, 133, 24, 0.7),
    rgba(255, 255, 255, 0)
  );
  transform: translateX(-100%);
  animation: skeleton-loader 2s infinite;
}

@keyframes skeleton-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .interface {
    padding: 0 10px;
  }
  .interface__texts-main {
    font-size: 6.25vw;
  }
  .interface__texts-sub {
    font-size: 2.8646vw;
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid;
  }
  .interface__setting {
    gap: 10px;
  }
  .interface__setting-main,
  .interface__setting-sub {
    width: 100%;
    font-size: 14px;
  }
  .interface__line {
    display: block;
    width: 100%;
  }
  .interface__label {
    font-size: 16px;
  }
  .interface__range {
    width: auto;
    margin: 10px 10px 0;
  }
  .interface__reverse {
    width: auto;
    margin-top: 10px;
  }
  .interface__btns {
    width: auto;
    margin-top: 16px;
  }
}
