/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: arial, sans-serif;
  line-height: 1.3;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
}

.maker_wrap {
  padding: 30px 50px;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(2, 0, 0, 0.75);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maker_wrap .thumb__text {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maker_wrap.color_reverse .thumb__text {
  color: #000;
}

.thumb__text .text__main {
  font-size: 48px;
  font-weight: bold;
}
.thumb__text .text__sub {
  font-size: 22px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid;
}

.maker_wrap .maker__input {
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.maker_wrap .maker__button,
.maker_wrap .maker__input {
  display: flex;
  width: 768px;
  margin: 16px auto 0;
}

.maker_wrap .maker__button {
  gap: 10px;
  width: 380px;
  margin-top: 30px;
}

.maker__button button {
  flex: 1;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.maker__input .input__main,
.maker__input .input__sub {
  width: calc(50% - 10px);
  box-sizing: border-box;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.maker__button button,
.maker__input button {
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}

.maker__button .close,
.maker__input button {
  background: #ccc;
}

.maker__button .close:hover,
.maker__input button:hover {
  background: #666;
  color: #fff;
}

.left__area {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.lines {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input__label {
  color: #fff;
  font-size: 18px;
}

.maker__input .input__range {
  width: 65%;
  display: flex;
  align-items: center;
  background: #e7e7f5;
  position: relative;
  height: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.maker__input .input__range .range__circle {
  display: block;
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 2;
}

.maker__input .input__range.dimmed::after {
  content: "";
  background: transparent;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.rdo__reverse {
  width: 65%;
  display: flex;
  align-items: center;
  gap: 10px;
}

[name="reverse"] + label {
  flex: 1;
  background: #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 12px 10px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}

[name="reverse"] + label:hover {
  color: #fff;
  background: #666;
}

[name="reverse"]:checked + label {
  color: #fff;
  background: orange;
}

.sr_only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}

.right__area {
  flex: 0 0 50px;
  display: flex;
}

.maker__input .input__reset {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.maker__button .capture {
  background: #fdc000;
}

.maker__button .capture:hover {
  background: #f86a05;
  color: #fff;
}

.thumb_wrap {
  overflow: hidden;
  position: relative;
  width: 768px;
  margin: 0 auto;
}

.thumb_wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.thumb_wrap.skeleton::before {
  background: #fdc000;
}

.thumb_wrap .thumb__glass {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 56.25%;
  background: #000;
  opacity: 0;
}

.thumb_wrap.skeleton .thumb__glass {
  background: #fdc000;
}

.maker_wrap.color_reverse .thumb_wrap .thumb__glass {
  background: #fff;
}

.thumb_wrap.skeleton::after {
  z-index: 2;
}

.thumb_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb {
  position: absolute;
  inset: 0;
  background-position: center center;
  background-size: cover;
}

.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0),
    rgba(243, 133, 24, 0.7),
    rgba(255, 255, 255, 0)
  );
  transform: translateX(-100%);
  animation: skeleton-loader 2s infinite;
}

@keyframes skeleton-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
